* {
    font-family: 'Montserrat', sans-serif;
  }
  
  .main{ text-align: center}
  
  input {
    width: 70%;
  }
  
  #search {
    outline: none;
    border: none;
    background: transparent;
    text-align: center;
    color: white;
    font-size: 24px;
    min-width: 200px;
    font-family: 'Montserrat', sans-serif;
    min-height: 40px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    text-shadow: rgba(0, 0, 0, 0.5) 0 3px;
    font-weight: 600;
  }
  
  #search:focus {
    border: 3px solid #555;
    outline: none;
  }

.inputbox{
    border:solid 0px transparent;    
    margin: 20px 5px;
    outline:solid 0px transparent;
    padding: 5px;
    font-size: 24px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 2px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px;
}
.inputbox:focus{
    outline:solid 0px transparent;
}
  
  
  .title {
    color: white;
    text-align: center;
    font-size: 90px;
    margin-top: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 5px;
  }
  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden
  }
  
  body {
        background-image: url("https://u.cubeupload.com/AshOnDiscord/OSBanner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
  }